{
    "extends": ["@rainthief/react-lint-config/stylelint.config"],
    "ignoreFiles": [
    './coverage/**/*',
    './build/**/*',
    './node_modules/**/*',
    './_node_modules/**/*',
  ],
    "plugins": [
      "stylelint-scss"
    ],
}
